.login {
  text-align: center;
  display: block;
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  border-radius: 10%;
}

.orlogin {
  font-weight: normal;
  color: grey;
}

.terms {
  font-size: 0.9rem;
  color: grey;
  text-align: center;
  margin-left: 4%;
  margin-right: 4%;
}

ion-item {
  border: none;
}

.helper-text {
  transform: scale(0.6);
  color: grey;
  padding: 0;
  margin: 0;
}

.passwordIcon {
  font-size: 1.5rem !important;
  position: relative !important;
  top: 45% !important;
  margin: 0 auto !important;
}
