.top {
  background-color: #f5921d;
  height: 25vh;
  border-radius: 0vh 0vh 10vh 10vh;
  position: relative;
}

.middle {
  background-color: #643e34;
  position: relative;
  top: -5%;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
}

.bottom {
  height: 75vh;
}

.container {
  background-color: #643e34;
  border-radius: 5vh;
  height: 4vh;
  align-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 1vh;
  margin-top: 1.4vh;
}

.welcome {
  font-size: 1.5vh;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.name {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.profile {
  width: 100%;
  height: auto;
}

.total {
  color: #f5921d;
}

.token {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.rating {
  color: white;
  font-weight: bold;
  font-size: 2.1rem;
}

.hungry {
  color: #643e34;
  letter-spacing: 0.05rem;
  font-weight: bold;
  padding-left: 2vw;
}

.divider {
  border-left: grey 0.2vh solid;
  height: 90%;
  position: relative;
  left: -10%;
}

ion-card {
  background-color: white;
  border-radius: 5vh;
  height: 13%;
}

.responsive {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  // width: 100%;
  // height: auto;
  border-radius: 5vh;
  // background-size: cover;
  // object-fit: cover;
}

.vendors {
  color: #643e34;
  font-size: 2vh;
  font-weight: bold;
}

.distance {
  color: #f5921d;
  font-size: 1.5vh;
  font-weight: bold;
}

.direction {
  float: right;
}

// .img-container {
//   background-color: red;
// }
