.top {
  background-color: #f5921d;
  height: 25vh;
  border-radius: 0vh 0vh 10vh 10vh;
  position: relative;
  padding-left: 5%;
}

.middle {
  background-color: #643e34;
  position: relative;
  top: -5%;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px 30px 30px 30px;
}

.bottom {
  height: 75vh;
}

.container {
  background-color: #643e34;
  border-radius: 5vh;
  height: 4vh;
  align-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
  padding-top: 1vh;
  margin-top: 1.4vh;
}

.welcome {
  font-size: 1.5vh;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.name {
  font-size: 3vh;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.profile {
  width: 100%;
  height: auto;
}

.total {
  color: #f5921d;
}

.token {
  font-size: 0.8rem;
  font-weight: bold;
  color: white;
  letter-spacing: 0.05rem;
}

.rating {
  color: white;
  font-weight: bold;
  font-size: 2.1rem;
}

.hungry {
  color: #643e34;
  letter-spacing: 0.05rem;
  font-weight: bold;
  padding-left: 2vw;
}

.divider {
  border-left: grey 0.2vh solid;
  height: 90%;
  position: relative;
  left: -10%;
}

.card {
  background-color: white;
  border-radius: 4vh;
  margin-top: 4%;
  margin-bottom: 1%;
}

.responsive {
  width: 100%;
  height: auto;
  border-radius: 4vh;
  object-fit: cover !important;
}

.vendors {
  color: #643e34;
  font-size: 120%;
  font-weight: bold;
  margin-top: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.distance {
  color: #f5921d;
  font-size: 100%;
  font-weight: bold;
  margin-top: 5%;
}

.direction {
  float: right;
  width: 100%;
  margin-top: 30%;
  padding-right: 15%;
}
